@page
@model SOH.Web.Pages.Event.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["NavClass"] = "top-nav-collapse";
}

@section Styles
    {
    <style>
        body {
            padding-top: 100px;
        }
    </style>
}

<div class="container">
    <div class="text-center py-5 font-weight-bold">
        <h2>@Model.Event.Title</h2>
        <p class="text-muted font-italic">Start: @Model.Event.StartingDate</p>
        <p class="text-muted font-italic">End: @Html.DisplayFor(model => model.Event.EndingDate)</p>
        <p class="lead">
            @Model.Event.Description
        </p>
        @if (@Model.Event.Images != null)
    {
        <img src="@Model.Event.Images" />
}
    </div>

    More stories
    <div class="container">
        <h3>Our Recent posts</h3>
        <div class="py-3 ml-3">
            <ul style="list-style: none;">
                <li>
                    <a>
                        <i class="fa fa-circle mr-2" aria-hidden="true"></i>
                        Nothing is better than night out
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-circle mr-2" aria-hidden="true"></i>
                        Golden instruments with golden hands of the blind
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@*<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.StartingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.StartingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EndingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EndingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
