<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Saigon Opera House</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body data-gr-c-s-loaded="true">
    @*<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-page="/Index" class="navbar-brand">SOH.Web</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-page="/Index">Home</a></li>
                            <li><a asp-page="/About">About</a></li>
                            <li><a asp-page="/Contact">Contact</a></li>
                        </ul>
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
        </nav>*@
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a asp-page="/">
                    <img src="~/img/SGOperaHouse1.jpg"
                         class="img-fluid rounded-circle" style="height:50px;"
                         alt="Saigon Opera House" />
                </a>

                @*<a class="navbar-brand" href="#"></a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" data-offset="90">About</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#features" data-offset="90">Features</a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link" href="#services" data-offset="90">Services</a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link" href="#opinions" data-offset="30">Opinions</a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link" href="#team" data-offset="90">Team</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" data-offset="90">Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" data-offset="90">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" data-offset="90">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" data-offset="90">Blog</a>
                        </li>
                    </ul>
                    <!-- Social Icon  -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa fa-facebook light-green-text-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa fa-twitter light-green-text-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa fa-instagram light-green-text-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderSection("Header", required: false)
    </header>

    <main>
        @RenderBody()
    </main>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        new WOW().init();
    </script>

    <span style="margin: 0px auto; border: 2px dotted rgb(255, 165, 0); position: absolute; z-index: 2147483647; visibility: hidden; left: 1368px; width: 0px; top: 322px; height: 0px;"></span>
    <span style="z-index: 2147483647; position: absolute; visibility: hidden; left: 1353px; width: 50px; top: 307px; height: 20px; font-size: 10px; color: black;"></span>
</body>
</html>
