@page
@model SOH.Web.Pages.Image.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["NavClass"] = "top-nav-collapse";
}
@section Styles
    {
    <style>
        body {
            padding-top: 100px;
        }
    </style>
}
<div class="container">
    <h2>Manage Images</h2>

    <div class="container py-1">
        <a asp-page="Create" class="btn btn-primary btn-rounded btn-md my-1"><i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i> Create New</a>
    </div>

    <table class="table table-bordered table-hover table-responsive-lg" style="table-layout: fixed; word-wrap: break-word;">
        <thead class="blue-grey lighten-4">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image[0].URI)
                </th>
                <th>
                    Preview
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Image)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.URI)
                    </td>
                    <td>
                        <img src="@item.URI" width="300"/>
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-rounded btn-sm my-1">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-rounded btn-sm my-1">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-rounded btn-sm my-1">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
